:root {
    --app-bg-color: #0F0F0F;
    --white-color: #fff;
    --badge-color: #2B5341;
    --dark-gray-color: #171715;
    --light-gray-color: #3A3A3A;
    --input-text-color: #eeecec;
    --btn-right-border-color: #9c1c6f;
    --btn-left-border-color: #bc1b52;
    --btn-left-bg-gradient: #370C14;
    --btn-right-bg-gradient: #280C23;
    --btn-box-shadow-color: rgba(0, 0, 0, 0.15);
    --label-color: #333;
    --form-danger-color: #dc1b3e;
    --slide-color: #3A3A3A;
    --btn-hover-color: white;
    --btn-left-bg-gradient-hover: #3d0b15;
    --btn-right-bg-gradient-hover: rgb(61, 12, 21);
    --progress-bg: #EEECEC;
}



.wait-list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ips-carousel-mockup-wrapper {
    height: 674.29px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: -50px;
    position: relative;
    
}

.wait-list-wrapper .wait-list-form {
    margin-top: 32.76px;
}

.wait-list-wrapper .wait-list-badge {
    width: 119.85px;
    height: 26.93px;
    background: var(--badge-color);
    border-radius: 29.8518px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 11.19px;
    font-weight: 500;
    line-height: 11.19px;
    letter-spacing: 1.87px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.wait-list-wrapper .wait-list-header {
    color: var(--white-color);
    font-weight: 400;
    margin-top: 22.39px;
}

.wait-list-wrapper .wait-list-para {
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    margin-top: 28.59px;
    font-weight: 400;
    line-height: 1.5;
}

.ips-btn {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.9259px;
    line-height: 1.5;
    border: none;
    padding: 13.9259px 36.3889px;
    background-image: linear-gradient(135deg, var(--btn-left-bg-gradient) 0%, var(--btn-right-bg-gradient) 100%);
    border-radius: 5.59722px;
    color: var(--white-color);
    cursor: pointer;
    box-shadow: 2.02397px 2.02397px 28.3356px var(--btn-box-shadow-color);
    border-bottom: 1px solid var(--btn-right-border-color);
    border-right: 1px solid var(--btn-right-border-color);
    border-top: 1px solid var(--btn-left-border-color);
    border-left: 1px solid var(--btn-left-border-color);
    transition: all 1s;
}

.ips-btn:hover {
    color: var(--btn-hover-color);
    background-image: linear-gradient(135deg, var(--btn-left-bg-gradient-hover) 0%, var(--btn-right-bg-gradient-hover) 100%);
}

.wait-list-form-wrapper .wait-list-form .ips-btn {
    margin-top: 17px;
}


.ips-carousel-mockup-wrapper .ips-slider-photo {
    position: absolute;
    right: 1.9%;
    top: 15.6%;
}



.ips-mockup-small img {
    width: 100%;
    height: 100%;
}

.ips-camera-pointers {
    width: 127.96px;
    height: 34.11px;
    position: absolute;
    bottom: 164px;
    z-index: 1;
    right: 100px;
}

.slide {
    width: 100px;
}

.ips-mockup-slide {
    width: 55.42px;
    height: 1.01px;
    background: var(--slide-color);
    border-radius: 1.00758px;
}

.ips-mockup-small {
    width: 40.3px;
    height: 40.3px;
    border-radius: 50%;
    position: absolute;
    bottom: 71px;
    right: 372px;
}

.ips-mockup-slide-wrapper {
    height: 10px;
    position: absolute;
    right: 173px;
    width: 35%;
}


.navbar {
    padding: 2rem 0;
}

.ambient-bg {
    position: absolute;
    top: 36px;
    left: 94px;
    height: 440px;
    width: 300px;
    z-index: -1;
}
