/* Mobile Respnsiveness */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ips-carousel-mockup-wrapper {
        margin-right: 0px;
    }

    .ips-mockup-small {
        right: 271px;
    }
}




@media screen and (min-width: 300px) and(max-width: 1023px) {
    .wait-list-form-wrapper .wait-list-form .wait-list-input-wrapper {
        width: 300px !important;
    }

    .app-container {
        margin: 0 auto;
        width: 95%;
    }
}



@media screen and (min-width: 300px) and(max-width: 575px) {
    .ips-carousel-mockup-wrapper .ips-slider-photo {
        width: 288px !important;
    }
}



@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 0;
    }

    header {
        display: none;
    }

    .app-container {
        margin: 0 auto;
        width: 95% !important;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 38.77px;
        line-height: 1.0;
    }

    .wait-list-form .wait-list-input-wrapper {
        width: 100% !important;
    }

    .ips-btn {
        width: 100%;
    }

    .wait-list-wrapper {
        margin-top: 90.61px;
    }

    .ips-carousel-mockup-wrapper {
        margin-top: 38.29px;
        margin-right: 0;
    }

    .ips-carousel-mockup-wrapper img {
        width: 100%;
    }

    .ips-carousel-mockup-wrapper .ips-slider-photo {
        width: 91.5%;
        top: 16.2%;
        left: 15px;
    }

    .ips-carousel-mockup-wrapper .ips-slider-photo>.ips-img {
        height: 407px;
    }

    .ips-mockup-small {
        bottom: 10%;
        width: 49.3px;
        left: 37.5px;
    }

    .ips-camera-pointers {
        bottom: 160px;
        left: 0%;
    }

    .ips-mockup-slide-wrapper {
        left: 74px;
        width: 59%;
    }

    .wait-list-wrapper {
        margin-top: 15px !important;
    }

    .ips-carousel-mockup-wrapper {
        margin-top: 38.29px;
    }
    .wait-list-header {
        font-size: 40px;
        font-family: 300px;
    }
}